#footer {
  background-color: #1d3557 !important;
  min-height: 5rem;
  padding: 1rem;
  text-align: center;
  color: #f1faee !important;
  font-size: 1.75rem;
}

#footer a {
  color: #f1faee !important;
}

#footer img {
  height: 10rem;
  padding: 1rem;
}

/*footer centrado*/
@media (max-width: 768px) {
  #piecontacto p {
    text-align: center !important;
  }
}
/* @media (max-width: 768px) {
  #footer img {
    display: none;
  }
} */
